/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #A7333F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  width: 300px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

